

.x {
	position:absolute;
	top:40px;
	left:370px;
	width: 150px;
	height: 150px;
	border-radius: 100%;
	background: url(https://imgur.com/WzKGKPH.png);
	background-size: cover;
	cursor: move;
	object-fit: cover;
	background-size: 400%;
}

.y {
	position:absolute;
	top:-40px;
	left:510px;
	width: 150px;
	height: 150px;
	border-radius: 100%;
	background: url(https://imgur.com/WzKGKPH.png);
	background-size: cover;
	cursor: move;
	object-fit: cover;
	background-size: 400%;
	background-position: -150px 0px;
}

.copycode {
	position: absolute;
	top:600px;
}